.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App .container {
  align-self: center;
  border: 2px solid black;
  border-radius: 10px;
  width: 72%;
  margin-top: 40px;
  padding: 0;
}

@media (max-width: 820px) {
  .App .container {
    align-self: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    margin-top: 40px;
    padding: 0;
  }
}
