.Definitions {
  color: black;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
.Parts {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.Meanings .Examples {
  opacity: 70%;
  font-size: 16px;
}

@media (max-width: 820px) {
  .Definitions {
    color: black;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 0.5;
  }
  .Parts {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 14px;
  }
}
